@charset "UTF-8";
.section {
  padding: 0 15px 6rem;
}

.section-aboutus {
  margin-bottom: 0;
  height: 58.5rem;
  position: relative;
  background: url("../img/aboutus-bg.jpg") no-repeat top left;
}

.section-map {
  position: relative;
  padding: 0;
  margin-bottom: 0;
}

.section-doctors {
  background: #FFADC4 url("/img/bg-pattern.svg") repeat left top;
  padding: 4rem 15px 2.5rem;
  margin-bottom: 6rem;
}

.section-consult {
  background: #d2cfc8 url("/img/consult-bg.jpg") no-repeat left;
  padding-top: 6rem;
  background-size: cover;
}

.wrapper {
  max-width: 1050px;
  margin: 0 auto;
}

.wrapper-consult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper-aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-block-title {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5rem;
}

.title-block-title_aboutus {
  color: #000;
}

.title-block-subtitle {
  margin: 0;
  margin-bottom: 3rem;
  color: rgba(0, 0, 0, 0.8);
}

.button {
  padding: 3rem 7rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #FFF5F4;
  text-transform: uppercase;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#BA5EFF), to(#BA5EFF));
  background: linear-gradient(0deg, #BA5EFF, #BA5EFF);
  opacity: 0.8;
  -webkit-box-shadow: 0px 3px 15px rgba(186, 94, 255, 0.75);
          box-shadow: 0px 3px 15px rgba(186, 94, 255, 0.75);
  border-radius: 37.5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  cursor: pointer;
  opacity: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(#BA5EFF), to(#BA5EFF));
  background: linear-gradient(0deg, #BA5EFF, #BA5EFF);
  -webkit-box-shadow: 0px 5px 23px rgba(186, 94, 255, 0.7);
          box-shadow: 0px 5px 23px rgba(186, 94, 255, 0.7);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:focus {
  outline: none;
  opacity: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(#BA5EFF), to(#BA5EFF));
  background: linear-gradient(0deg, #BA5EFF, #BA5EFF);
  -webkit-box-shadow: 0px 5px 23px rgba(186, 94, 255, 0.7);
          box-shadow: 0px 5px 23px rgba(186, 94, 255, 0.7);
}

.button__article {
  position: absolute;
  bottom: 0;
  z-index: 999;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.consult-form {
  position: relative;
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 9rem 3rem 3.5rem;
  border-radius: 25px;
  overflow: hidden;
  background: #FFFFFF;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}

.consult-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #FFF5F4;
  text-align: center;
  background: linear-gradient(0.01deg, #BA5EFF 0.06%, #D092FF 99.94%);
  border-radius: 25px 25px 0px 0px;
}

.consult-text {
  font-weight: 300;
  line-height: 1.6rem;
  margin-bottom: 2.5rem;
}

.consult-label {
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-transform: uppercase;
}

.consult-input {
  max-width: 295px;
  margin-bottom: 2.5rem;
  padding: 5px 3px;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.consult-input:last-of-type {
  margin-bottom: 3.5rem;
}

.aboutus {
  max-width: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.aboutus-text {
  margin: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.75);
}

.aboutus-more {
  color: #000000;
  text-decoration: none;
}

.doctors-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.doctors-item {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  background-color: #FFF5F4;
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
}

.doctors-photo {
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.doctors-name-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.doctors-firstname {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-transform: uppercase;
}

.doctors-secondname {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.doctors-middlename {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.doctors-specialty {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.doctors-experience {
  text-align: center;
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 7px;
  line-height: 8px;
}

.doctors-link-appointment {
  padding: 15px 0;
  width: 100%;
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #FFF5F4;
  text-decoration: none;
  background-color: rgba(146, 0, 255, 0.65);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.doctors-link-appointment:hover {
  text-decoration: none;
  background-color: #9200FF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.doctors-link-appointment:focus {
  text-decoration: underline;
  background-color: #9200FF;
}

.article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3rem;
}

.article::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 450px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(53.08%, rgba(255, 255, 255, 0)), color-stop(62.12%, rgba(255, 255, 255, 0.69)), color-stop(69.51%, rgba(255, 255, 255, 0.9)), color-stop(76.19%, #FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 53.08%, rgba(255, 255, 255, 0.69) 62.12%, rgba(255, 255, 255, 0.9) 69.51%, #FFFFFF 76.19%);
}

.article-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.article-item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  max-width: 270px;
  margin-bottom: 4.5rem;
}

.article-image {
  margin-bottom: 2rem;
}

.article-title {
  display: block;
  font-weight: bold;
  line-height: 1.9rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.article-description {
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
  font-weight: 300;
}

.article-more {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.map-contacts-container {
  position: absolute;
  top: calc(50% + 4rem);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 40rem;
  max-width: 297px;
  padding: 2.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(0.07deg, #BA5EFF 0.06%, #D092FF 99.94%);
  -webkit-box-shadow: 0px 0px 15px rgba(186, 94, 255, 0.5);
          box-shadow: 0px 0px 15px rgba(186, 94, 255, 0.5);
  border-radius: 15px;
}

.map-title {
  margin: 0;
  margin-bottom: 2.5rem;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 35px;
  text-transform: uppercase;
  color: #FFF5F4;
}

.map-contacts {
  position: relative;
  color: #FFF5F4;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 25px;
  margin-bottom: 2rem;
  padding-left: 33px;
}

.map-contacts::before {
  position: absolute;
  left: 0;
  display: inline-block;
  content: '';
  background-size: cover;
}

.map-contacts__days::before {
  width: 23px;
  height: 23px;
  background: url("/img/time-icon.svg") no-repeat center;
}

.map-contacts__tel::before {
  width: 23px;
  height: 23px;
  background: url("/img/tel-icon.svg") no-repeat center;
}

.map-contacts__mail::before {
  width: 23px;
  height: 23px;
  background: url("/img/mail-icon.svg") no-repeat center;
}

.map-contacts__location::before {
  width: 23px;
  height: 100%;
  background: url("/img/location-icon.svg") no-repeat center;
}

.footer-logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 2rem;
}

.footer-contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.footer-contacts {
  position: relative;
  color: #000;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 19px;
  margin-bottom: 2rem;
  padding-left: 33px;
}

.footer-contacts::before {
  position: absolute;
  left: 0;
  display: inline-block;
  content: '';
  background-size: cover;
}

.footer-contacts__days::before {
  width: 18px;
  height: 18px;
  background: url("/img/time-icon-footer.svg") no-repeat center;
}

.footer-contacts__tel::before {
  width: 18px;
  height: 18px;
  background: url("/img/tel-icon-footer.svg") no-repeat center;
}

.footer-contacts__mail::before {
  width: 18px;
  height: 18px;
  background: url("/img/mail-icon-footer.svg") no-repeat center;
}

.footer-contacts__location::before {
  width: 18px;
  height: 100%;
  background: url("/img/location-icon-footer.svg") no-repeat center;
}

.footer-social-list {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social-item:not(:last-child) {
  margin-right: 3rem;
}

.footer-social-link {
  font-size: 0;
}

.footer-social-link::before {
  display: inline-block;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-size: cover;
}

.footer-social-link_vk::before {
  background: url("/img/vk.svg") no-repeat center;
}

.footer-social-link_ok::before {
  background: url("/img/ok.svg") no-repeat center;
}

.footer-social-link_inst::before {
  background: url("/img/inst.svg") no-repeat center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4rem;
}

footer {
  padding: 15px;
  background: #FFADC4 url("/img/bg-pattern.svg") repeat left top;
}

a:hover, a:focus {
  cursor: pointer;
  text-decoration: underline;
  outline: none;
}

a:visited {
  opacity: 0.1;
}

.light-gray {
  color: #FFF5F4;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-arrow:hover {
  cursor: pointer;
}

.prev {
  left: -45px;
}

.next {
  right: -45px;
}

.slick-dots {
  bottom: -40px !important;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  content: '•';
  /* <-- Вот этот символ */
  text-align: center;
  color: #8f2fd8 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*------------------Стили Кирилла------------------*/
.header
{
  background: url(/img/фон\ _мы\ заботимся\ о\ вас_.jpg);
  height: 1830px;
  background-size: cover;
}
.header_menu
{
height: 90px;
left: 0px;
top: 0px;

background: rgba(255, 255, 255, 0.8);
}
.header_info
{
  display: flex;
  justify-content:space-between;
}
a
{
color: black;
text-decoration: none;
outline:none;
}
.tel::after
{
  position: absolute;
  right: 0;
  top: -4px;
  display: block;
  content: '';  
  width: 30px;
  height: 30px;
  background: url(/img/иконка\ телефона.svg) no-repeat center;
  background-size: cover;
}
.header_info
{
  margin-top: 23px;
}

.location
{
  display: flex;
}
.header_a 
{
  display: flex;
  margin-top: 20px;
  
}
.header_a a
{
margin-right: 20px;

}
.tel
{
  position: relative;
  padding-right: 35px;
  font-weight: bold;
font-size: 18px;
line-height: 25px;
margin-left: 83px;

}
.nav_text {
  
  width: 160px;
  height: 28px;
}
.location_map
{
  display: block;
  font-size: 12px;
  line-height: 14px;
  margin-left: 10px;
}
.location-img
{
  height: 21px;
}
.baner_button
{
  width: 254px;
height: 75px;
background: linear-gradient(0.02deg, #BA5EFF 0.06%, #D092FF 99.94%);
box-shadow: 0px 3px 15px rgba(186, 94, 255, 0.75);
border-radius: 37.5px;
outline: none;
border: 0;
margin-top: 50px;
}
.baner_button:hover
{
  background: linear-gradient(0deg, #BA5EFF, #BA5EFF);
  box-shadow: 0px 5px 23px rgba(186, 94, 255, 0.7);
  border-radius: 37.5px;
}
.baner_button:active
{
  background: linear-gradient(0deg, #9200FF, #9200FF);
box-shadow: 0px 3px 15px rgba(186, 94, 255, 0.75);
border-radius: 37.5px;
}
.baner_button-a
{
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFF5F4;
  outline:none;
}
.core
{
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
font-weight: bold;
font-size: 36px;
line-height: 42px;
margin-top: 59px;
}
.baner_info
{
  width: 556px;
  height: 90px;
  font-weight: 300;
font-size: 16px;
line-height: 30px;
margin-top: 25px;
}
.our_servis
{
font-weight: bold;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-left: 390px;
margin-top: 560px;
}
.our_servis-text
{
font-size: 12px;
line-height: 16px;
color: rgba(0, 0, 0, 0.65);
margin-left: 320px;
margin-top: 8px;
}
li
{
 list-style-type: none;   
}
.box
{
  display: flex;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 21px;
  margin-right: 21px;
}
.img_servise-1
{
background:url(/img/иконка\ анализов.svg) no-repeat;
width: 45px;
height: 45px;
position: relative;
left: 95px;
top: -10px;
}
.img_servise-2
{
background: url(/img/иконка\ гинекология.svg) no-repeat;
width: 45px;
height: 45px;
position: relative;
left: 95px;
top: -10px;
}
.img_servise-3
{
background: url(/img/иконка\ диагностика.svg) no-repeat;
width: 45px;
height: 43px;
position: relative;
left: 95px;
top: -10px;
}
.img_servise-4
{
background: url(/img/иконка\ кардиология.svg) no-repeat;
width: 45px;
height: 44px;
position: relative;
left: 95px;
top: -10px;
}
.img_servise-5
{
background: url(/img/иконка\ костылей.svg) no-repeat;
width: 45px;
height: 45px;
position: relative;
left: 95px;
top: -10px;
}
.img_servise-6
{
background: url(/img/иконка\ процедур.svg) no-repeat;
width: 45px;
height: 45px;
position: relative;
left: 95px;
top: -10px;
}
.box-a
{
  height: 190px;
  padding: 0;
  margin: 0;
}
.purple-box
{
  width: 236px;
height: 190px;
background: linear-gradient(0.06deg, #BA5EFF 0.06%, #D092FF 99.94%);
border-radius: 10px;
text-align: center;
padding-top: 35px;
}
.purple-box:hover
{
  background: linear-gradient(0deg, #BA5EFF, #BA5EFF), linear-gradient(0.06deg, #BA5EFF 0.06%, #D092FF 99.94%);
border-radius: 10px;
}
.purple-box:active
{
  background: linear-gradient(0deg, #9200FF, #9200FF), linear-gradient(0.06deg, #BA5EFF 0.06%, #D092FF 99.94%);
  border-radius: 10px;
}
.super-box
{
  width: 820px;
  height: 410px;
  margin-left: 118px;
  margin-top: 53px;
}
.box-text_top
{
font-weight: bold;
font-size: 18px;
line-height: 25px;
color: #FFF5F4;
text-decoration: none;
}
.box-text_down
{
font-size: 12px;
line-height: 16px;
color: #FFF5F4;
position: relative;
top: 10px;
text-decoration: none;
}
.service-button
{
width: 254px;
height: 75px;
background: linear-gradient(0.02deg, #BA5EFF 0.06%, #D092FF 99.94%);
box-shadow: 0px 3px 15px rgba(186, 94, 255, 0.75);
border-radius: 37.5px;
border: 0;
outline:none;
margin-top: 60px;
margin-left: 410px;
}
.service-button_a
{
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFF5F4;
}