.section {
  padding: 0 15px;
}

.section-aboutus {
  height: 58.5rem;
  position: relative;
  background: url("../img/aboutus-bg.jpg") no-repeat top left;
}

.wrapper {
  max-width: 1050px;
  margin: 0 auto;
}

.wrapper-aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-block-title {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.5rem;
}

.title-block-title_aboutus {
  color: #000;
}

.title-block-subtitle {
  margin: 0;
  margin-bottom: 3rem;
}

.aboutus {
  max-width: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.aboutus-text {
  margin: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.75);
}

.aboutus-more {
  color: #000000;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6rem;
}
