@import "variables";
@import "marckup";
@import "sections/aboutus";
@import "sections/doctors";
@import "sections/article";
@import "sections/map";
@import "sections/footer";


* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-family: $opensans;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4rem;
}
footer {
  padding: 15px;
  background: #FFADC4 url('/img/bg-pattern.svg') repeat left top;
}
a {
  &:hover,
  &:focus {
    cursor: pointer;
    text-decoration: underline;
    outline: none;
  }
  &:visited {
    opacity: 0.1;
  }
}
.light-gray {
  color: $light-gray;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &:hover {
    cursor: pointer;
  }
}
.prev {
  left: -45px;
}
.next {
  right: -45px;
}
.slick-dots {
  bottom: -40px !important;
}
.slick-dots li button:before {
  font-family: 'slick';
   font-size: 6px;
   line-height: 20px;
   position: absolute;
   top: 0;
   left: 0;
   width: 25px;
   height: 25px;
   content: '•'; /* <-- Вот этот символ */
   text-align: center;
   color: rgb(143, 47, 216) !important;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }