.advantages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &-block {
    max-width: 217px;
    text-align: center;
  }
  &-number {
    position: relative;
    &_text {
      display: block;
      font-weight: bold;
      font-size: 9.5rem;
      line-height: 8.5rem;
      text-align: center;
      color: rgba(255, 255, 255, 0.65);
    }
    &_icon {
      position: absolute;
      bottom: 0;
      left: 20%;
    }
  }
  &-title {
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
  &-text {
    line-height: 1.6rem;
    color: rgba(0, 0, 0, 0.65);
  }
}
@media screen and (max-width: 900px) {
  .advantages {
    justify-content: center;
  }
}