.consult {
  &-form {
    position: relative;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    padding: 9rem 3rem 3.5rem;
    border-radius: 25px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
  }
  &-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 2.5rem;
    font-family: $roboto;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.3rem;
    color: $light_gray;
    text-align: center;
    background: linear-gradient(0.01deg, #BA5EFF 0.06%, #D092FF 99.94%);
    border-radius: 25px 25px 0px 0px;
  }
  &-text {
    font-weight: 300;
    line-height: 1.6rem;
    margin-bottom: 2.5rem;
  }
  &-label {
    margin-bottom: 0.5rem;
    font-family: $roboto;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-transform: uppercase;
  }
  &-input {
    max-width: 295px;
    margin-bottom: 2.5rem;
    padding: 5px 3px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    font-size: 1.2rem;
    line-height: 1.4rem;
    &:last-of-type {
      margin-bottom: 3.5rem;
    }
  }
}